@font-face{
  font-family: "Helvetica Neue";
  src: url("webfonts/helvetica-neue/HelveticaNeueThin.eot");
  src: url("webfonts/helvetica-neue/HelveticaNeueThin.eot") format("eot"), url("webfonts/helvetica-neue/HelveticaNeueThin.woff2") format("woff2"), url("webfonts/helvetica-neue/HelveticaNeueThin.woff") format("woff"), url("webfonts/helvetica-neue/HelveticaNeueThin.ttf") format("truetype"), url("webfonts/helvetica-neue/HelveticaNeueThin.svg") format("svg");
}
@font-face{
  font-family: "Helvetica Neue";
  src: url("webfonts/helvetica-neue/HelveticaNeueBold.eot");
  src: url("webfonts/helvetica-neue/HelveticaNeueBold.eot") format("eot"), url("webfonts/helvetica-neue/HelveticaNeueBold.woff2") format("woff2"), url("webfonts/helvetica-neue/HelveticaNeueBold.woff") format("woff"), url("webfonts/helvetica-neue/HelveticaNeueBold.ttf") format("truetype"), url("webfonts/helvetica-neue/HelveticaNeueBold.svg") format("svg");
  font-weight: bold;
}