<form name="addPixi" class="add-pixi">
  <p>As your friends sign up, we'll notify you and add them to your contacts!</p>
  <a href="mailto:?subject=I%20want%20to%20send%20you%20a%20pixinote!&body=Pixinote%20lets%20you%20create%20cool%20little%20notes%20on%20your%20phone%20that%20get%20sent%20by%20snail%20mail%20to%20the%20people%20you%20care%20about%20most.%0D%0A%0D%0ASign%20up%20so%20I%20can%20send%20you%20one%21%0D%0AJust%20click%20this%20link%20from%20your%20smartphone%3A%20http%3A%2F%2Fpixinote.com%2Finvited%2Fby%2F{{ user.name }}%0D%0A%0D%0A*Pixinote%0D%0APS.%20Pixinote%20keeps%20your%20address%20private%20and%20secure."
     target="_blank"
     class="invite">Invite via email</a>
</form>
