<title-bar>
  <left-btn ng-click="leftBtnClick()">
    <i ng-if="leftBtnClass" class="{{ leftBtnClass }}"></i>
    <view ng-if="leftBtnView" px-view="leftBtnView"></view>
  </left-btn>

  <h1 ng-if="title">{{ title }}</h1>

  <title-view ng-if="titleView" px-view="titleView"></title-view>

  <right-btn ng-click="rightBtnClick()">
    <i ng-if="rightBtnClass" class="{{ rightBtnClass }}"></i>
    <view ng-if="rightBtnView" px-view="rightBtnView"></view>
  </right-btn>
</title-bar>
<content ng-class="{'reveal-sidebar': revealSidebar}" ng-transclude></content>
