create-account {
  text-align: center;
  color: $submit-btn-bg-color;
  margin: .3em;
  font-size: 1.2em;
}

password {
  position: relative;
}

forgot {
  position: absolute;
  right: 2em;
  top: 0;
  bottom: 0;
  color: transparentize($btn-color, .3);
  margin: 3.5% 0;
}

$fb-blue-dark: #384778;
$fb-blue-light: #4E6AA4;
fb-login {
  @include input-row;
  border: 0;
  background-color: $fb-blue-light;
  text-align: left;
  @include display-flex;
  color: white;
  height: 2.8em;
  width: 90%; // TODO this should be in input-row
  margin: 1.8em auto;
  cursor: pointer;

  icon {
    background-color: $fb-blue-dark;
    width: 2.8em;
    
    f {
      font-weight: bold;
      font-size: 2.3em;
      position: relative;
      top: .28em;
      left: .58em;
    }
  }

  text {
    @include flex(1);
    @include display-flex;
    @include flex-direction-column;
    @include justify-content(center);
    text-align: left;
    padding-left: 1em;
    font-size: 1.1em;
  }

  px-loading {
    margin: 1em auto;
    square {
      width: 12px;
      height: 12px;
    }
  }
}

fb-login:active {
  background-color: $fb-blue-dark;
  icon {
    background-color: $fb-blue-light;
  }

}

px-login {
  px-hr {
    background-color: #808285;
    height: 1px;
    margin: 2em auto;
    width: 70%;
  }
}
