px-search-input {
  @include display-flex;
  @include flex(1 0 auto);
  cursor: pointer;
  font-size: em;
  color: black;
  position: relative;
  @include screen(desktop){
    font-size: 1.4em;
    background-color: white;
  }
  @include px-transition;

  label {
    position: absolute;
    left: .8em;
    top: .75em;
    font-size: 1.1em;
    color: $light-grey;
  }

  input {
    font-size: 1.5em;
    border: 0;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
  }
}

px-search-input.hidden {
  opacity: 0;
}





