<note-wrapper px-click-to-z-above-sibs
              px-transition-end
              ng-class="{focus: note.focus,
                        'focus-text-area': note.focus == 'text',
                        'focus-image-picker': note.focus == 'image',
                        transitioning: transitioning}">

  <fixed-height-hack></fixed-height-hack>

  <envelope class="back"
            ng-class="{shown: note.sealing}"
            px-transition-end="enveloped()">
    <flap px-transition-end="enveloped()"
          ng-class="{closed: note.sealed}"></flap>
  </envelope>

  <note>
    <px-image-picker ng-click="focus('image', $event)"
                     ng-if="note"
                     px-capture-click="maybePrevent($event)"
                     picker-should-pick="!(note.imageFrom || note.hasImage || note.imageData)"
                     picker-initial-src="{{ note.imageFrom ? '/api/notes/' + note.imageFrom + '/image/full' : (note.hasImage ? note.fullImageSrc : '')}}"
                     picker-data="note.imageData"
                     picker-enable-scroll-zoom="note.focus == 'image'"
                     picker-rect="note.imageCropRect"></px-image-picker>

    <note-right-content ng-click="focus('text', $event)">
      <text-input-instruction
         ng-show="note.focus == 'text' && tooManyLines"
         ng-class="{'too-many-lines': tooManyLines}">
        three lines max
      </text-input-instruction>
      <text-box>
        <px-pencil ng-show="nextAction == 'text'"></px-pencil>
        <text-input contenteditable
                    class="needsclick"
                    px-max-lines="3"
                    ng-blur="focus(false)"
                    px-max-lines-exceeded="tooManyLines = true"
                    px-max-lines-okay="tooManyLines = false"
                    px-text-content="note.text"
                    px-blur="focus(false)">

        </text-input>
        <text-rule ng-class="{'too-many-lines': tooManyLines,
                             'has-content': !!note.text,
                             focused: user.note.focus == 'text'}">
          <line></line>
          <line></line>
          <line></line>
        </text-rule>
      </text-box>
      <px-signature ng-show="user.name"></px-signature>
    </note-right-content>
  </note>
  <envelope class="front"
            ng-class="{shown: note.sealing}">
    <flap ng-class="{closed: note.sealed}"></flap>
  </envelope>
  <cropper-controls class="info-text"
                    ng-class="{shown: note.focus == 'image'}">
    <p>drag to position, {{ isTouchScreen ? "scroll" : "pinch" }} to zoom</p>
  </cropper-controls>
</note-wrapper>
<clear></clear>
