<div>
  <form ng-if="!sent" name="addPixi" class="add-pixi">
    <h2>Forgot your password?</h2>
    <p>
      No problem.<br>
      Just enter your email.<br>
      We'll email you a password reset link.
    </p>
    <input type="email" placeholder="Email" ng-model="user.email" required>
    <error ng-show="notFound">No such email found.</error>
    <error ng-show="error">Oops! Something went wrong. We're looking into it.</error>
    <px-submit click="reset()" value="'Send Reset E-mail'"></px-submit>
  </form>

  <form ng-if="sent" name="addPixi" class="add-pixi">
    <h2>Thanks</h2>
    <p>
      Check your email in a few minutes for password reset instructions.
    </p>
    <px-submit click="done()" value="'Ok'"></px-submit>
  </form>
</div>
