$textAreaBorderColor: #CCC;

px-compose {
  position: absolute;
  height: 100%;
  width: 100%;
  @include display-flex;
  @include flex-direction-column;
}


px-recipients {
  @include flex(1 0 auto);
}


sent-msg {
  position: absolute;
  padding: 2em 1.3em;
  font-size: 2em;
  text-align: center;
  color: white;
}



// for the cropper controls
px-compose action-bar.btn.short {
  height: 50px;
  prompt {
    font-size: 1em;
  }
}


prompt.camera {
  background-color: $btn-color;
  img {
    position: relative;
    top: .06em;
  }
}


prompt {
  @include display-flex;
  @include flex-direction-column;
  @include justify-content(center);
  @include flex(1 0 auto);
  font-size: 1.2em;
  text-align: center;
  background-color
  .small {
    font-size: .9em;
  }
}


prompt icon {
  font-size: 1.3em;
} 


prompt icon img {
  max-width: 1.3em;
}


prompt.cropper-controls {
  @include flex(1 0 auto);
}

prompt.cropper-controls:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, .12);
}

/* 1. Using translate3d dixes an issue in webkit where css transforms
   clobber z-indexes that would result in the note being displayed
   on top of the address book until the end of the hideTitleBar animation
   
   2. Animate off screen to the right.

   3. Off screen left.
*/

$vertical-offset: 0;
px-compose px-note-input {
  @include transform(translate3d(0, $vertical-offset, 0)); // 1.
  @include transition(transform 400ms ease-in-out);
  &.sent {
    @include transform(translate3d(240%, $vertical-offset, 0)); // 2.
  }
  &.left {
    @include transition(none);
    @include transform(translate3d(-200%, $vertical-offset, 0)); // 3.
  }
  @include screen(desktop){
    height: 378px;
    flex: none;
  }
}


px-send-confirmation {
  @include px-transition;
}

px-send-confirmation.left {
  @include transition(none);
  @include transform(translateX(-100%));
}

px-send-confirmation.right {
  @include transform(translateX(100%));
}

cancel {
  text-align: center;
  font-size: .8em;
  margin-top: 1.2em;
  position: relative;
  z-index: 10;
  text-decoration: underline;
}

prompt.primary {
  background-color: $btn-color;
  color: white;
}

prompt.sending px-loading {
 margin: 1em auto;
}

cost {
  width: 100%;
  color: #333;
  font-size: .9em;
  text-align: center;
  font-weight: normal;
  margin-bottom: 2em;
  dollars {
    display: inline;
    font-weight: bold;
  }
  bcuz {
    display: inline;
  }
  infos {
    display: inline;
    font-weight: lighter;
    color: $dark-grey;
    min-height: 1.4em;
  }
  @include screen(desktop){
    font-size: 1.2em;
    position: relative;
    top: -.8em;
    margin-bottom: 0;
  }
}

